@model CRUD.Models.Personnel

@{
    ViewData["Title"] = Model.Personnel_ID==0?"Create Personnel":"Update Personnel";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Personnel_ID" />
            <div class="form-group">
                <label asp-for="Lname" class="control-label">Last Name*</label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label">First Name*</label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mname" class="control-label">Middle Name</label>
                <input asp-for="Mname" class="form-control" />
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label">Nickname</label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpType" class="control-label">Employee Type*</label>
                <input asp-for="EmpType" class="form-control" />
                <span asp-validation-for="EmpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ARank" class="control-label">Rank</label>
                <input asp-for="ARank" class="form-control" />
                <span asp-validation-for="ARank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ABranch" class="control-label">Branch</label>
                <input asp-for="ABranch" class="form-control" />
                <span asp-validation-for="ABranch" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DliHire" class="control-label">DLI Hire Date*</label>
                <input asp-for="DliHire" class="form-control" />
                <span asp-validation-for="DliHire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficePhone" class="control-label">Office Phone</label>
                <input asp-for="OfficePhone" class="form-control" />
                <span asp-validation-for="OfficePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location1" class="control-label"></label>
                <input asp-for="Location1" class="form-control" />
                <span asp-validation-for="Location1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location2" class="control-label"></label>
                <input asp-for="Location2" class="form-control" />
                <span asp-validation-for="Location2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltOfficeSymbol" class="control-label"></label>
                <input asp-for="AltOfficeSymbol" class="form-control" />
                <span asp-validation-for="AltOfficeSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
